

@keyframes fadeInRight {

    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
    
}

@keyframes typing {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
    
}

@keyframes blinking {

    0%,100%{
        border-color: transparent;
    }
    50%{
        border-color: orange;
    }
    
}