
:root{

    ---blue:               #008CED;
    ---orange:             #FFB703;
    ---darkblue:           #00133B;
    ---lightblue:          #07CBFB;
    ---white:              #FFFFFF;
    ---grey:               #808797;
    ---dark:               #000000;
    ---lightgrey-color:       #F5F5F5;
    ---lightdark-color:       #333;
}

$blue:#008CED;