@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  ---blue: #008CED;
  ---orange: #FFB703;
  ---darkblue: #00133B;
  ---lightblue: #07CBFB;
  ---white: #FFFFFF;
  ---grey: #808797;
  ---dark: #000000;
  ---lightgrey-color: #F5F5F5;
  ---lightdark-color: #333;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5 {
  color: var(---darkblue);
  font-weight: 500;
}

h1 {
  font-size: 48px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 36px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h3 {
  font-size: 21px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(---grey);
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

section {
  padding: 70px 0;
}

.section-heading h4 {
  color: var(---blue);
  font-size: 21px;
  margin: 0.8rem 0;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
}

.center {
  align-items: center;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.center .section-content {
  width: 100%;
}
.center p {
  max-width: 600px;
  margin: auto;
}

.flex-img {
  flex-basis: 45%;
}

.rd-edges {
  border-radius: 10px;
}

.border-secondary {
  border-radius: 8px;
  box-shadow: 0 0 0 7px var(---orange);
}

.flex-txt {
  flex-basis: 45%;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.image-container img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.2s linear;
}

.btn-secondary, .btn-primary, .btn-lg {
  border: none;
  border-radius: 2.5px;
  font-weight: 500;
  padding: 0.8rem 1.8rem;
  outline: none;
  font-weight: 400;
}

.btn-lg {
  padding: 1rem 2.5rem;
}

.btn-primary {
  font-size: 16px;
  background-color: var(---blue);
  border: 2px solid var(---blue);
  color: white;
  transition: all 0.3s ease-in;
}
.btn-primary:hover {
  background: none;
  color: var(---blue);
}

.btn-secondary {
  font-size: 16px;
  background-color: var(---orange);
  border: 2px solid var(---orange);
  color: var(---dark-color);
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover {
  background: none;
}

@media (max-width: 786px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes blinking {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blinking {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.hamburger {
  background: none;
  border: none;
  outline: none;
  font-size: 36px;
  width: 36px;
  height: 36px;
  color: var(---blue);
}
.hamburger:hover {
  cursor: pointer;
}

nav {
  z-index: 999;
  width: 100%;
  background-color: var(---white);
}

.brand {
  max-width: 35%;
}
.brand .logo img {
  width: 90px;
  height: auto;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.navbar .hamburger {
  display: none;
}
.navbar .nav-buttons {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .navbar .nav-buttons {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
}
.navbar .nav-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.navbar .nav-list ul .nav-link {
  text-decoration: none;
  color: #333;
  margin-left: 2.5rem;
}
.navbar .nav-list ul .nav-link svg {
  vertical-align: middle;
}
.navbar .nav-list .dropdown {
  position: relative;
}
.navbar .nav-list .dropdown .nav-link {
  display: flex;
}
.navbar .nav-list .dropdown .nav-link iconify-icon {
  align-self: flex-end;
  font-size: 21px;
  margin-left: 0.3rem;
}
.navbar .nav-list .dropdown:hover > .dropdown-container {
  display: block;
}
.navbar .nav-list .dropdown-container {
  display: none;
  min-width: 200px;
  min-height: 200px;
  z-index: 999;
  height: 100%;
  right: 0;
  position: absolute;
}
.navbar .nav-list .dropdown-container ul {
  background-color: var(---white);
  padding: 1rem;
  flex-direction: column;
  transform: translateY(20px);
  border: 1px solid #333;
  border-radius: 5px;
}
.navbar .nav-list .dropdown-container ul li {
  margin: 0.5rem 0;
}
.navbar .nav-list .dropdown-container ul li a {
  color: #333;
  font-size: 15px;
}
@media (max-width: 768px) {
  .navbar .nav-list {
    position: absolute;
    flex-direction: column;
    top: 80px;
    width: 100vw;
    min-height: 100vh;
    background-color: var(---white);
    left: 0;
    z-index: -1;
    transform: translateY(-1000px);
    transition: background 300ms 350ms ease, transform 300ms 50ms ease;
  }
  .navbar .nav-list ul {
    padding-top: 2rem;
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
  .navbar .nav-list ul .nav-list-item {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
  }
  .navbar .nav-list ul .nav-list-item .nav-link {
    margin-left: 0;
  }
}
.navbar .navbar-show {
  transform: translateY(0px) !important;
}
.navbar .nav-buttons select {
  font-size: 16px;
  border: none;
  background: none;
  margin-right: 1rem;
}

header {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
header .hero-wrapper {
  width: 95%;
  height: 100%;
  margin-left: auto;
  padding-right: 2rem;
}
@media (max-width: 768px) {
  header .hero-image {
    display: none;
  }
}
header .hero-content {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  header .hero-content .hero-text h1 {
    font-size: 3.5rem;
  }
  header .hero-content .hero-text p {
    font-size: 18px;
  }
}
header .hero-content .hero-form {
  background-color: var(---lightgrey-color);
  margin-top: 3rem;
  border-radius: 2.5px;
}
header .hero-content .hero-form form {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .hero-content .hero-form form label {
  margin-left: 0.5rem;
}
header .hero-content .hero-form form input {
  border: none;
  background: none;
  outline: none;
  margin: 0.8rem;
  max-width: 120px;
}
header .hero-content .hero-form form input:nth-of-type(1) {
  margin-left: 0.5rem;
}
header .hero-content .hero-form form input:nth-of-type(3) {
  max-width: 100%;
  background-color: var(---orange);
}
header .hero-content .hero-form form svg {
  color: var(---grey);
  font-size: 18px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  header .hero-content .hero-form form {
    flex-wrap: wrap;
  }
}
header .hero-image {
  flex-basis: 80%;
  position: relative;
  width: 100%;
  transform: translateX(50px);
}
header .hero-image img {
  width: auto;
  max-width: none;
  height: 520px;
}
@media (max-width: 768px) {
  header {
    height: 70vh;
  }
}

.services-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.services-list .services-list-item {
  margin-bottom: 2rem;
  padding-top: 4rem;
}
.services-list .services-list-item .service {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
.services-list .services-list-item .service .service-icon {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 70px;
}
.services-list .services-list-item .service .service-icon img {
  width: auto;
  height: 80px;
}
.services-list .services-list-item .service .service-text {
  margin-top: 1rem;
  text-align: center;
}
.services-list .services-list-item .service .service-text p {
  max-width: 250px;
  margin: auto;
}
@media (max-width: 500px) {
  .services-list {
    flex-wrap: wrap;
  }
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-card .flex-card-image, .flex-card .flex-card-text {
  flex-basis: 45%;
  margin-top: 3rem;
}
.flex-card .flex-card-image .image-container, .flex-card .flex-card-text .image-container {
  width: 400px;
  height: 450px;
}
@media (max-width: 768px) {
  .flex-card {
    flex-direction: column;
  }
}

.vision-wrap .vision-text {
  -webkit-animation: 2s ease-out both;
          animation: 2s ease-out both;
}

.content-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: justify;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 786px) {
  .content-body {
    margin-top: 2rem;
  }
}

.projects-filter {
  flex-basis: 20%;
  margin-bottom: 1rem;
}
.projects-filter .cat-btn {
  border: none;
  border-radius: 30px;
  font-weight: 500;
  outline: none;
  margin: 0 1rem;
  width: 150px;
  height: 50px;
  color: var(---blue);
  background-color: var(---lightgrey-color);
  font-size: 16px;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .projects-filter {
    display: flex;
  }
}
@media (max-width: 768px) {
  .projects-filter {
    flex-basis: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 0.5rem;
  }
  .projects-filter .cat-btn {
    margin: 0;
    width: 100%;
    height: 50px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .projects-filter {
    margin: 0;
  }
}

.projects-container {
  flex-basis: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 2rem;
  max-width: 960px;
  overflow: hidden;
  margin: auto;
}
@media (max-width: 768px) {
  .projects-container {
    flex-basis: 100%;
    padding: 0 1rem;
  }
}
.projects-container .project {
  display: flex;
  padding: 1rem;
  width: 100%;
  min-width: 100%;
  height: 270px;
  border-radius: 15px;
  background-color: #000000;
}
.projects-container .project img {
  border-radius: 15px;
  opacity: 0.8;
}
.projects-container .project .project-category {
  color: white;
  text-transform: capitalize;
}
.projects-container .project .project-tag {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  text-align: justify;
  background: none;
}

.testimonies .card {
  max-width: 700px;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0px 5px 20px rgba(120, 120, 120, 0.1294117647);
  border-radius: 20px;
}
.testimonies .card .card-image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 0 4px var(---orange);
}
.testimonies .card .card-image img {
  border-radius: 100%;
}
.testimonies .card p {
  margin-top: 1.5rem;
}
@media (max-width: 786px) {
  .testimonies .card {
    margin: 1rem;
  }
}

footer {
  background-color: var(---blue);
  color: white;
  width: 100%;
}

.footer-wrap {
  padding: 70px 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.footer-wrap .footer-brand {
  flex-basis: 65%;
  min-height: 35vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-wrap .footer-brand p {
  color: var(---white);
  max-width: 400px;
}
.footer-wrap .footer-brand .logo {
  width: 120px;
  height: 100%;
  margin-bottom: 1rem;
  color: white;
}
.footer-wrap .footer-brand .social-icons {
  display: flex;
  max-width: 200px;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.footer-wrap .footer-brand .social-icons li a svg {
  font-size: 42px;
  color: white;
  padding: 0.8rem;
  width: 50px;
  height: 50px;
}
@media (max-width: 500px) {
  .footer-wrap {
    flex-direction: column;
  }
  .footer-wrap .footer-brand {
    order: 3;
    align-items: center;
    text-align: center;
    color: white;
  }
}
.footer-wrap .footer-list {
  margin-bottom: 2rem;
}
.footer-wrap .footer-list ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}
.footer-wrap .footer-list ul li {
  margin-bottom: 1rem;
  font-size: 15px;
}
.footer-wrap .footer-list h4 {
  color: white;
  font-size: 24px;
}

.footer-bottom {
  background-color: #0086e3;
  font-size: 13px;
}

.bottom-wrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */