
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "variables";
@import "functions";
@import "global";
@import "animation";




.hamburger{
    background: none;
    border: none;
    outline: none;

    .line{
        width: 40px;
        height: 5px;
        border-radius: 2.5px;
        background-color: var(---blue);
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      &:hover{
        cursor: pointer;
      }
}




  #hamburger[aria-expanded="true"]{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  #hamburger[aria-expanded="true"] .line:nth-child(2){
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  
  #hamburger[aria-expanded="true"] .line:nth-child(2){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  
  #hamburger[aria-expanded="true"] .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger[aria-expanded="true"] .line:nth-child(1),
  #hamburger[aria-expanded="true"] .line:nth-child(3){
    width: 25px;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
  }
  
  #hamburger[aria-expanded="true"] .line:nth-child(1){
    -webkit-transform: translateY(15px) rotate(45deg);
    -ms-transform: translateY(15px) rotate(45deg);
    -o-transform: translateY(15px) rotate(45deg);
    transform: translateY(15px) rotate(45deg);
  }
  
  #hamburger[aria-expanded="true"] .line:nth-child(3){
    -webkit-transform: translateY(-15px) rotate(-45deg);
    -ms-transform: translateY(-15px) rotate(-45deg);
    -o-transform: translateY(-15px) rotate(-45deg);
    transform: translateY(-15px) rotate(-45deg);
  }


nav{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: var(---white);
}


.brand{
    max-width: 35%;

    .logo img{
        width: 100px;
        
    }
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .hamburger{
        display: none;
    }

    .nav-buttons{
        display: flex;
        justify-content: center;
    }

    @include break(768px){
        .nav-buttons{
            display: none;
        }

        .hamburger{
            display: block;
        }

    }

    .nav-list{

        ul{
            list-style-type: none;
            padding: 0;
            @include flexBox($justify:space-between);
        
                .nav-link{
                    text-decoration: none;
                    color: #333;
                    margin-left: 2.5rem;
        
                    svg{
                        vertical-align: middle;
                    }
                }

        }

        @include break(768px){

            position: absolute;
            flex-direction: column;
            top: 80px;
            width: 100vw;
            min-height: 100vh;
            background-color: var(---white);
            left: 0;
            z-index: -1;
            transform: translateY(-1000px);
            transition: background 300ms 350ms ease, transform 300ms 50ms ease;
    
            ul{
                padding-top: 2rem;
                width: 90%;
                margin: auto;
                flex-direction: column;

                .nav-list-item{
                    margin-bottom: 1rem;

                    .nav-link{
                        margin-left: 0;
                    }

                }
            }
     
         }
    
    }

    .navbar-show{
        transform: translateY(0px) !important;
    }

    .nav-buttons select{
        font-size: 16px;
        border: none;
        background:none;
        margin-right: 1rem;
    }

}



header{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: -2;

    .hero-wrapper{
        width: 95%;
        height: 100%;
        margin-left: auto;
        padding-right: 2rem;
    }

    @include break(768px){
        .hero-image{
            display: none;
        }
        
 
     }

    .hero-content{
        width: 100%;
        height: 100%;
        padding-top: 10%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    
        p{
            font-size: 18px;
            color: var(---grey-color);
        }
    
        h1{
            width: 100%;
            overflow: hidden;
            border-right: 2px solid;
            white-space: nowrap;
            margin: 0 auto;

            font-size: 3.5rem;
            animation: typing 3s steps(20) infinite alternate-reverse , blinking 5s steps(1) infinite;
        }

        .hero-form{
            background-color: var(---lightgrey-color);
            margin-top: 3rem;
            border-radius: 2.5px;

            form{
                display: flex;
                justify-content: center;
                align-items: center;

                label{
                    margin-left: 0.5rem;
                }

                input{
                    border: none;
                    background: none;
                    outline: none;
                    margin: 0.8rem;
                    max-width: 120px;
            
                    &:nth-of-type(1){
                        margin-left: 0.5rem;
                    }
                    &:nth-of-type(3){
                        max-width: 100%;
                        background-color: var(---orange);
                    }
                }
                svg{
                    color: var(---grey);
                    font-size: 18px;
                    vertical-align: middle;
                }

                @include break(768px){
                    flex-wrap: wrap;
                }
            

            }

            
        
        }
    }

    .hero-image{
        flex-basis:80%;
        position: relative;
        width: 100%;
        transform: translateX(50px);
        img{
            width: auto;
            max-width: none;
            height: 520px;
        }
    }

}



.services-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .services-list-item{
        margin-bottom: 2rem;
        padding-top: 4rem;

        .service{
            max-width: 300px;
            min-width: 300px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin: auto;
    
            .service-icon{
                display: flex;
                justify-content: center;
                width: 100%;
                min-height: 70px;
                img{
                    width: auto;
                    height: 80px;
                }
            }
            .service-text{
                margin-top: 1rem
            }
        }
    }

    @include break(500px){
        flex-wrap: wrap;
    }
    
}



.service-image{
    @include imageRotate(100%,rotate(6deg));
}

.flex-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .flex-card-image, .flex-card-text{
        flex-basis: 45%;
        margin-top: 3rem;
        .image-container{
            width: 400px;
            height: 450px;

        }


    }

    @include break(768px){
        flex-direction: column;
    }
}




.vision-wrap{

    .vision-text, .vision-image{
        flex-basis: 45%;
    
    }

    .vision-text{
        animation: 2s ease-out both;
    }

    @include break(768px){
        flex-direction: column;

        .vision-image{
            order: 1;
        }
    }


}



.content-body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: justify;
    transition: all .3s ease-in-out;
}



.projects-filter{
    flex-basis: 20%;
    margin-bottom: 1rem;

    .cat-btn{
        border: none;
        border-radius: 30px;
        font-weight: 500;
        outline: none;
        margin: 0 1rem;
        width: 150px;
        height: 50px;
        color: var(---blue);
        background-color: var(---lightgrey-color);
        font-size: 16px;
        margin-bottom: 1rem;
    
    }

    @include break(1024px){

        display: flex;
        }

    @include break(768px){

    margin: 0.5rem 1rem;
    width: 100%; 
    padding: 1rem;
    font-size: 16px;
    display: flex;
    }
}

.projects-container{
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    max-width: 960px;
    padding: 0 1rem;
    overflow: hidden;
    margin: auto;

    
    .project{
    display: flex;
    padding: 1rem;
    width: 100%;
    min-width: 100%;
    height: 270px;
    border-radius: 15px;
    background-color: #000000;

    img{
        border-radius: 15px;
        opacity: 0.8;
    }

    .project-category{
        color: white;
        text-transform: capitalize;
    }

    .project-tag{
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
        text-align: justify;
        background:none;
        }

    }

    

    @include break(960px){
        grid-template-columns: repeat(2, 1fr);
    }

    @include break(500px){
        grid-template-columns: repeat(1, 1fr);
    }

}

.testimonies{
    .card{
        max-width: 700px;
        min-height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        margin: 2rem;
        box-shadow: 0px 5px 20px #78787821;
        border-radius: 20px;
        

        .card-image{
            width: 70px;
            height: 70px;
            border-radius: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            box-shadow: 0 0 0 4px var(---orange);
            img{
                border-radius: 100%;
            }
        }

        p{
            margin-top: 1.5rem;
        }
    }
}




footer{
    background-color: var(---blue);
    color: white;
    width: 100%;

}

.footer-wrap{
    padding: 70px 0 0;
    width: 100%;
    @include flexBox($wrap:wrap,$justify:space-between);

    .footer-brand{
        flex-basis: 65%;
        min-height: 35vh;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            color: var(---white);
            max-width: 400px;
        }

        .logo{
            width: 120px;
            height: 100%;
            margin-bottom: 1rem;
            color: white;
        }

        .social-icons{
            display: flex;
            max-width: 200px;
            list-style-type: none;
            padding: 0;
            justify-content: space-between;
            align-items: center;
        
            li a svg{
                font-size: 42px;
                color: white;
                padding: 0.8rem;
                width: 50px;
                height: 50px;
            }
        }
    }

    @include break(500px){
        flex-direction: column;

        .footer-brand{
            order: 3;
            align-items: center;
            text-align: center;
            color: white;
        }

    }

    
    .footer-list{
        margin-bottom: 2rem;

        ul{
            list-style-type: none;
            padding: 0;
            margin-top: 2rem;

            li{
                margin-bottom: 1rem;
                font-size: 15px;
            
            }
        }

        h4{
            color: white;
            font-size: 24px;
        }
    }


}


.footer-bottom{
    background-color: darken($blue,2%);
}

.bottom-wrapper{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



